{% extends 'base.html' %}
{% block content %}
  <br>
  <h3>USERS:</h3><br>
  {% for user in users %}
    {{user.username}} <a href = "/del/user/{{user.id}}"> Delete {{user.username}} </a>  -- OR -- <a href = "/makeadmin/{{user.id}}/1"> Promote {{user.username}} to admin </a> <br>
  {% endfor %}
  <br>
  <h3>POSTS:</h3><br>
  {% for post in posts %}
    {{post.title}} <a href = "/del/post/{{post.id}}/1"> Delete {{post.title}} </a> <br>
  {% endfor %}
  <br>
  <h3>COMMENTS:</h3><br>
  {% for comment in comments %}
    Comment by {{comment.poster}} under article #{{article}} <a href = "/del/comment/{{comment.id}}/1"> Delete this comment </a> <br>
  {% endfor %}
{% endblock %}
