<! doctype html>
<html>
{% load static %}
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
</head>
<body>
    {% include 'navbar.html' %}
    <div class = "card">
        {{word}}
    </div>
    <form method = "POST" enctype="multipart/form-data">{% csrf_token %}
      <!-- Things needed : Title, announcement or post, image, body -->
      <input type = "text" id = "title" name = "title">
      <select name = "type" id = "type"><!-- should this be like a radio instead? -->
        <option value = "blog">blog</option>
        <option value = "announcement">announcement</option>
      </select>
    <input type = "text" id = "body" name = "body">
    </form>
<body>
    </html>
