<div class = 'topnav'>
    <a href = '/'>Home</a>
    <a href = '/articles/1'>Announcements</a>
    <a href = '/articles/0'> Blog Posts </a>
    <a href = '/contact'> Contact Us! </a>

    {% if user.is_authenticated %}
        <a href = '/accounts/profile/' style="float:right;"><div class= 'a' style="float:right;"> User:{{request.user}} </div></a>
        <a href="{% url 'logout' %}"style="float:right;">Log Out</a>
    {% else %}
        <a href = '/accounts/profile/' style="float:right;"><div class= 'a' style="float:right;"> Not Logged In </div></a>
        <a href = "/signup" style="float:right;"> Register for an account </a>
        <a href="{% url 'login' %}"style="float:right;">Log In</a>

    {% endif %}

</div>
