{% extends 'base.html' %}
{% block content %}
{% load static %}
{% include 'recGame.html' %}
<div class = "card">
get a recommendation based on the games listed on your profile

</div>
<!-- {% for g in yourgames%}
    <div class = "preview">
        <h3>{{g.name}}</h3><br>
        <img src = "{% static "" %}{{g.name}}.jpg" ><br>

        {{g.description}}, Difficulty:{{g.difficulty}}<br>
        {%for t in g.tag_set.all %}
            Tag:[{{t.name}}:{{t.description}}]<br>
        {% endfor %}
    </div><br>
{% endfor %} -->
{% endblock %}
